<header class="bgimg-1 w3-display-container" id="home">

<div class="w3-display-left white-text" style="padding:48px">

	<br>

	<span class="w3-jumbo w3-hide-small">Welcome to {{ include.name }}!</span>
	<br>

	<span class="w3-xxlarge w3-hide-large w3-hide-medium">Welcome to {{ include.name }}!</span><br>
	<span class="w3-large">{{ include.subtitle }}!</span>

	<p><a href="{{ link Gallery.html }}" class="w3-button pentagonite-faded w3-padding-large w3-large w3-margin-top pentagonite-medium-hover w3-hover-opacity">See my work!</a></p>

</div>

<div class="w3-display-bottomleft white-text w3-large" style="padding:24px 48px">
  {% include socials.html %}
</div>
</header>
