<html>
<!-- Subject Pagination -->
  <div class="w3-center pentagonite-medium" style="padding-top: 8px">
    <div class="w3-bar">
      <a href="{% link index.html %}" class="w3-bar-item w3-button">Return to Main</a>
      <a href="{% link index.html %}#about" class="w3-bar-item w3-button">About Me</a>
      <a href="{% link Gallery.html %}" class="w3-bar-item w3-button ">Gallery</a>
      <a href="{% link index.html %}#contact" class="w3-bar-item w3-button ">Contact Me</a>
    </div>
  </div>
</html>
