<div class="w3-center w3-padding-16">
  <div class="w3-bar">
  <a href="{% link Gallery/Digital/1.html %}" class="w3-bar-item w3-button"><i class="fa fa-angle-left"></i> Start</a>
  <a href="{% link Gallery/Digital.html %}" class="w3-bar-item w3-button">Featured</a>
  <a href="{% link Gallery/Digital/1.html %}" class="w3-bar-item w3-button">1</a>
  <a href="{% link Gallery/Digital/2.html %}" class="w3-bar-item w3-button ">2</a>
  <a href="{% link Gallery/Digital/3.html %}" class="w3-bar-item w3-button ">3</a>
  <a href="{% link Gallery/Digital/4.html %}" class="w3-bar-item w3-button ">4</a>
  <a href="{% link Gallery/Digital/5.html %}" class="w3-bar-item w3-button ">5</a>
  <a href="{% link Gallery/Digital/end.html %}" class="w3-bar-item w3-button">End <i class="fa fa-angle-right"></i></a>
</div>
