<div class="w3-card-4 w3-margin whitecolor">
  <div style="max-height: 300px!important; overflow: hidden">
     <a href="{{ include.card_image }}" target="_blank"><img src="{{ include.card_image }}" alt="{{ unclude.card_alt }}" class="gallerypic" style="max-width: 100%; max-height: none; margin: 0 auto"></a>
  </div>
  <div class="w3-container">
    <h3><b>{{ include.header }}</b></h3>
    <h5>{{ include.subtitle }} <span class="w3-opacity">{{ include.date_string }}</span></h5>
  </div>
  <div class="w3-container blog-post-content">
    {{ include.content }}
  </div>
  <div class="w3-row">
    <div class="w3-row">
        <div class="w3-col m8 s12" style="margin-left: 16px">
          <a href="{{ include.post_url }}"><p><button class="w3-button w3-padding-large whitecolor w3-border"><b>READ MORE »</b></button></p></a>
        </div>
     </div>
  </div>
</div>
