<a href="https://twitter.com/PentagoniteStdo"><i class="fa fa-twitter w3-hover-opacity"></i></a>

<a href="https://www.instagram.com/gemhunterdoesart/"><i class="fa fa-instagram w3-hover-opacity"></i></a>

<!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->

<a href="https://www.tumblr.com/blog/gemhunter178"><i class="fa fa-tumblr w3-hover-opacity"></i></a>

  <a href="https://www.flickr.com/people/157149974@N06/"><i class="fa fa-flickr w3-hover-opacity"></i></a>

<a href="https://gemhunter178.deviantart.com/"><i class="fa fa-deviantart w3-hover-opacity"></i></a>

<!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>

<i class="fa fa-linkedin w3-hover-opacity"></i>-->
