---
layout: default
---

<div class="w3-row w3-content" style="margin-top:16px;margin-bottom:16px;max-width:90%" id="home">
	<div class="w3-twothird">
		 <div class="w3-card-4 w3-margin whitecolor">
  <div style="max-height: 300px!important; overflow: hidden">
    <a href="{{ page.header_image }}" target="_blank"><img src="{{ page.header_image }}" alt="{{ page.header_alt }}" class="gallerypic" style="max-width: 100%; max-height: none; margin: 0 auto"></a>
  </div>
  <div class="w3-container">
    <h3><b>{{ page.header }}</b></h3>
      <h5>{{ page.subtitle }} <span class="w3-opacity"><i>{{ page.date_string }}</i></span></h5>
  </div>
  <div class="w3-container">
    {{ content | markdownify }}
    </div>
<div class="w3-row">
      	<div class="w3-col m8 s12" style="margin-left: 16px">
      	  <p><button onclick="goBack()" class="w3-button w3-padding-large whitecolor w3-border"><b>Go back! »</b></button></p>
      	</div>
  	</div>
   </div>
	</div>
	<div class="w3-third">
		{% include engineering_sidebar.html %}
	</div>

</div>

<script src="/javascripts/goback.js">
