<!DOCTYPE html>


<!--Started with the "Startup Template" on w3schools.com, heavily modified by Gem -->

<html>

<head>

	<title>A Hero's Journey Game - Gemhunter178</title>

<link rel="icon" href="/Pictures/Logo_favicon.png">
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/MainStyle.css">
<link href="https://fonts.googleapis.com/css?family=Hind+Vadodara" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		body,h1,h2,h3,h4,h5,h6 {
			font-family: "Hind Vadodara", sans-serif
		}

body, html {

			height: 100%;

			line-height: 1.8;

}

.w3-bar .w3-button {

			padding: 16px;

}

</style>

</head>




<body>

{% include navbar.html %}

	<!-- STUFF GOES HERE -->
<style>
		/*Image header */
		.bgimg-1 {
			background-position: center;
			background-size: cover;
			background-image: url("https://orig00.deviantart.net/5e34/f/2018/147/a/b/drawing_space_by_gemhunter178-dccooan.jpg");
			min-height: 25%;
		}
		.w3-bar .w3-button {
			padding: 16px;
		}
	</style>

{{ content }}

{% include pagefooter.html %}

<script src="/javascripts/gallery.js"></script>
<script src="/javascripts/Scrollbar.js"></script>

</body>

</html>
